<h3>bubble sort</h3>
<app-bubble-sorting
  [animationQueue]="bubbleSortAnimationQueue"
></app-bubble-sorting>
<br />
<h3>insertion sort</h3>
<app-insertion-sorting
  [animationQueue]="insetionSortAnimationQueue"
></app-insertion-sorting>
<br />
<h3>selection sort</h3>
<app-selection-sorting
  [animationQueue]="selectionSortAnimationQueue"
></app-selection-sorting>

<app-settings></app-settings>

<button (click)="play()">PLAY</button>
<button (click)="pause()">PAUSE</button>
<button (click)="reset()">RESET</button>
<button (click)="createAnimations()">CREATE ANIMATIONS</button>
