/* You can add global styles to this file, and also import other style files */
  .sorting-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    border: 1px solid black;
    align-items: flex-end;
    padding: 10px;
  }
  
  .rect {
    border: 1px solid red;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow:1;
  }
  
  .value{
    font-weight: bold;
  }